header{
    height: 80px;
    display: flex;
    justify-content: center;
}

.headerContent{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font1);
    color: #201849;
    font-size: 16px;
    font-weight: 400;
}

.headerContent img{
    width: 110px;
    height: 18px;   
}

.nav-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.nav-div ul{
    list-style: none;
    display: flex;
}

.nav-div ul li:nth-last-child(2), .nav-div ul li:nth-last-child(1){
    padding-left: 40px;
}


header .button{
    border: 1px solid var(--vermelho);
    border-radius: 5px;
    padding: 7px 35px ;
    color: white;
    background: var(--vermelho);
    f
}